@charset "ISO-8859-1";
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">

body{
            background-image: url("bg1.jpg");
            background-repeat: no-repeat;
            width: 100%;
            height: 500px;
            background-position: center;
            background-color: black;
        }
        .one{
            list-style-type: none;
            padding: 5px;
            text-align: right;
            width: 90;
        }
        .one li{
            display: inline-block;
            padding: 10px 20px;
            list-style-type: none ;
            text-align: center;
        }
        a{
            text-decoration: none;
        }
        .one a:link{color: aqua;}
        .one a:visited{color: white;}
        .one a:hover{color: rgb(4, 179, 83); transition: 0.5s; box-shadow: inset;}

        .d2{
            width: 60em;
            height: 10em;
            text-align: justify;
            padding: 100px 100px;
            margin: 10px 50px 50px 80px;
        }
     #t1{
        text-decoration: none;
        text-align: center;
        border: 1px solid black;
        border-radius: 20px;
        background-color: bisque;
        
     }
     a{
        color: black;
     }
     footer{
        text-align: center;
        color: cyan;
     }
     .s1{
        color: rgb(5, 1, 1);
        
        float: left;
        font-weight: bold;
        border: 0.2px solid black;
        border-radius: 20px;
        background-color: antiquewhite;
        padding: 10px 15px;
        font-family: Castellar;
     }
     ul:hover{
        font-weight: bold;
        font-size: 15px;

     }
     .h1,.p1,.h3{
        color: cyan;
     }
     .p1{
        font-size: large;
        
        font-family: 'Times New Roman', Times, serif;
     }